<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button outline block ion-item (click)="loadPage(tabsPage)">Tipsy App Home</button>
      <button outline block ion-item (click)="auth.login()" *ngIf="!auth.isAuthenticated()">Login</button>
      <button outline block ion-item (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Logout</button>

      <!--<button outline block ion-item (click)="loadPage(tabsPage)">Drinks</button>-->
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Tipsy App &#169;</ion-title>

    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-nav [root]="tabsPage" #nav></ion-nav>

<!--<ion-tabs>-->
  <!--<ion-tab [root]="tab1Root"></ion-tab>-->
  <!--<ion-tab [root]="tab2Root"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root"></ion-tab>-->
<!--</ion-tabs>-->
